/* App.css */

/* Styles for the container of carousels */
.App {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid layout */
  gap: 20px; /* Adjust the gap between carousels */
  padding: 20px; /* Add padding to the container */
  background-color: var(--bg-black-900);
}

/* Media query for laptop screens */
@media screen and (min-width: 1024px) {
  .App {
    grid-template-columns: repeat(4, 1fr); /* Display maximum of 4 carousels in one row */
  }
}

/* Media query for smaller screens */
@media screen and (max-width: 1023px) {
  .App {
    grid-template-columns: repeat(3, 1fr); /* Display maximum of 3 carousels in one row */
  }
}

/* Additional media queries for smaller screens if needed */
@media screen and (max-width: 768px) {
  .App {
    grid-template-columns: repeat(2, 1fr); /* Display maximum of 2 carousels in one row */
  }
}

@media screen and (max-width: 480px) {
  .App {
    grid-template-columns: 1fr; /* Display one carousel per row on smaller screens */
  }
}

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --pure-white: #ffffff;
  --hover: #ec1839;
}

body.dark{
  --bg-black-900: #2f2f2f;
  --bg-black-100: #444343;
  --bg-black-50: #727272;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
  --pure-white: #000000;
}

:root{
  --skin-color: #ec1839;
}

:root{
  --skin-color-1: #ec1839;
  --skin-color-2: #ff5100;
  --skin-color-3: #1d9200;
  --skin-color-4: #003c9d;
  --skin-color-5: #8f0064;
}